    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Experience Causeway</h2>
                    <p>You can try out <em>Causeway</em> by navigating your mobile device to: <a href="http://emdm.io/m">emdm.io/m</a> and browser window to <a href="http://emdm.io/m/theater.html">emdm.io/m/theater.html</a> or if you want to experience everything in browser click the button below. <em>Causeway</em> is a 2 screen experience. The browser view is a visualization of the interaction on your mobile device.</p>
                    <a href="http://emdm.io/m/theater.html" onclick="window.open('http://emdm.io/m', 'newwindow', 'width=450, height=680');" class="btn btn-default btn-lg">Start Causeway</a>
                </div>
            </div>
        </div>
    </section>
