    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Experience Causeway</h2>
                    <p>You can try out <em>Causeway</em> by navigating your mobile device to: <a href="http://emdm.io/m">http://emdm.io/m</a> Or by clicking the button below.</p>
                    <a href="http://emdm.io/m" class="btn btn-default btn-lg">Start Causeway</a>
                </div>
            </div>
        </div>
    </section>
